.AboutUs-container {
  height: 100%;
  width: 100%;
  h1 {
    color: #85a2e5;
  }
  .image-container {
    height: 100%;
    width: 100%;
  }
  .image-aboutUs {
    padding: 10px;
    width: 50%;
    height: 50%;
  }
}
